<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>

    <a href="https://github.com/assafmo">
        <svg class="svg-icon">
            <use xlink:href="/assets/minima-social-icons.svg#github"></use>
        </svg>
        <span class="username">assafmo</span>
    </a>

    {% include footer.html %} {% include google-analytics.html %}

</body>

</html>