<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>

    <div class="wrapper">

        <h2 class="footer-heading">Assaf Morami</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li class="p-name">Assaf Morami</li>
                    <li>
                        <a class="u-email" href="mailto:assaf.morami@gmail.com">assaf.morami@gmail.com</a>
                    </li>
                </ul>
            </div>

            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                    <li>
                        <a href="https://github.com/assafmo">
                            <svg class="svg-icon">
                                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
                            </svg>
                            <span class="username">assafmo1111</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer-col footer-col-3">
                <p>Things I have learned over time. :-) </p>
            </div>
        </div>

    </div>

</footer>